/*
  Author: Adam Minaker
  Date: 3/20/2021
  Description: Custom stylesheet for GotNext.
*/

@media (max-width: 500px) {
  progress {
    width: 30%;
  }
}

@media (min-width: 600px) {
  #login-alert {
    width: 30%;
    margin: auto;
  }
}